body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  width: max-content;
}

.center {
  border-style: groove;
  padding: 10px;
}

.center-f {
  float: right;
  border-style: none;
  padding: 10px;
}

/* Custom CSS styles */
#checkboxContainer {
  margin: 10px;
}

#autoGroupingCheckbox {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

#autoGroupingLabel {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #333333;
}

h1 {
  font-size: 24px;
}

button {
  padding: 10px 20px;
  font-size: 12px;
  background-color: rgb(0, 109, 250);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: rgb(0, 109, 250);
}

p {
  font-size: 16px;
}

.group-details {
  margin-top: 20px;
  text-align: left;
}

.group-details table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.group-details th,
.group-details td {
  padding: 5px;
  border: 1px solid #ddd;
}

.group-details th {
  font-weight: bold;
  text-align: left;
}

.hidden {
  display: none;
}